In [ ]:
#default_exp utils

In [ ]:
#hide
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Utils

> Utilities used in the rest of the notebooks

In [ ]:
#export
from timecluster_hub.imports import *
from fastcore.all import *
import wandb
import pickle
import pandas as pd
import numpy as np
import tensorflow as tf

### Generate random time series dataframe

In [ ]:
#export
def generate_TS_df(rows, cols):
    "Generates a dataframe containing a multivariate time series, where each column \
    represents a variable and each row a time point (sample). The timestamp is in the \
    index of the dataframe, and it is created with a even space of 1 second between samples"
    index = np.arange(pd.Timestamp.now(),
                      pd.Timestamp.now() + pd.Timedelta(rows-1, 'seconds'),
                      pd.Timedelta(1, 'seconds'))
    data = np.random.randn(len(index), cols)
    return pd.DataFrame(data, index=index)

In [ ]:
df = generate_TS_df(3, 5)

In [ ]:
test_eq(df.shape, (3, 5))

##  pandas Dataframe utilities

### Normalize columns

In [ ]:
#export
def normalize_columns(df:pd.DataFrame):
    "Normalize columns from `df` to have 0 mean and 1 standard deviation"
    mean = df.mean()
    std = df.std() + 1e-7
    return (df-mean)/std

In [ ]:
foo = generate_TS_df(3, 3)
foo.describe()

              0         1         2
count  3.000000  3.000000  3.000000
mean  -0.061442 -0.598331  0.105684
std    1.206131  0.727209  0.671551
min   -1.313759 -1.247099 -0.507766
25%   -0.638400 -0.991369 -0.253068
50%    0.036960 -0.735638  0.001631
75%    0.564717 -0.273947  0.412410
max    1.092473  0.187744  0.823188

In [ ]:
bar = normalize_columns(foo)
bar.describe()

                  0             1             2
count  3.000000e+00  3.000000e+00  3.000000e+00
mean   4.625929e-18 -9.251859e-17  1.850372e-17
std    9.999999e-01  9.999999e-01  9.999999e-01
min   -1.038293e+00 -8.921333e-01 -9.134836e-01
25%   -4.783542e-01 -5.404736e-01 -5.342142e-01
50%    8.158487e-02 -1.888139e-01 -1.549447e-01
75%    5.191466e-01  4.460667e-01  4.567418e-01
max    9.567083e-01  1.080947e+00  1.068428e+00

In [ ]:
test_close(bar.describe().loc['mean'].values, np.repeat(0.0, len(bar.columns)))

In [ ]:
test_close(bar.describe().loc['std'].values, np.repeat(1.0, len(bar.columns)))

### Remove constant columns

In [ ]:
#export
def remove_constant_columns(df:pd.DataFrame):
    return df.loc[:, (df != df.iloc[0]).any()]

In [ ]:
foo = generate_TS_df(3, 3)
foo['constant'] = [0.0]*len(foo)
foo

                                   0         1         2  constant
2021-09-23 07:47:34.473685  0.656475  0.355784 -0.542317       0.0
2021-09-23 07:47:35.473685  0.901219 -0.349533  1.471952       0.0
2021-09-23 07:47:36.473685  0.834163  0.332611  1.585081       0.0

In [ ]:
bar = remove_constant_columns(foo)
bar

                                   0         1         2
2021-09-23 07:47:34.473685  0.656475  0.355784 -0.542317
2021-09-23 07:47:35.473685  0.901219 -0.349533  1.471952
2021-09-23 07:47:36.473685  0.834163  0.332611  1.585081

In [ ]:
column_diff = set(foo.columns) - set(bar.columns)
test_eq_type(column_diff, set(['constant']))

## Create wandb artifact containing just the reference to an object pass as argument

In [ ]:
#export
class ReferenceArtifact(wandb.Artifact):
    default_storage_path = Path('data/wandb_artifacts/') # * this path is relative to Path.home()
    "This class is meant to create an artifact with a single reference to an object \
    passed as argument in the contructor. The object will be pickled, hashed and stored \
    in a specified folder."
    @delegates(wandb.Artifact.__init__)
    def __init__(self, obj, name, folder=None, **kwargs):
        super().__init__(type='object', name=name, **kwargs)
        # pickle dumps the object and then hash it
        hash_code = str(hash(pickle.dumps(obj)))
        folder = Path(ifnone(folder, Path.home()/self.default_storage_path))
        with open(f'{folder}/{hash_code}', 'wb') as f:
            pickle.dump(obj, f)
        self.add_reference(f'file://{folder}/{hash_code}')
        if self.metadata is None:
            self.metadata = dict()
        self.metadata['ref'] = dict()
        self.metadata['ref']['hash'] = hash_code
        self.metadata['ref']['type'] = str(type(obj))

When a reference artifact is used by one wandb run, we should have a method to get the original object from it

In [ ]:
#export
@patch
def to_obj(self:wandb.apis.public.Artifact):
    "Download the files of a saved ReferenceArtifact and get the referenced object. The artifact must \
    come from a call to `run.use_artifact` with a proper wandb run."
    if self.metadata.get('ref') is None:
        print(f'ERROR:{self} does not come from a saved ReferenceArtifact')
        return None
    path = Path(self.download()).ls()[0]
    with open(path, 'rb') as f:
        obj = pickle.load(f)
    return obj

Test with Reference artifact from a df

In [ ]:
foo = generate_TS_df(3, 3)
bar = ReferenceArtifact(obj=foo, name='test_reference_artifact')
bar.manifest.entries.values()

dict_values([<ManifestEntry ref: file:///home/victor/data/wandb_artifacts/7737202649216616468/7737202649216616468>])

In [ ]:
test_eq(bar.name, 'test_reference_artifact')

In [ ]:
test_eq(bar.metadata['ref']['type'], str(type(foo)))

TODO: Test method `to_obj`

ReferenceArtifact with a numpy array

In [ ]:
foo = np.random.randn(5)
bar = ReferenceArtifact(obj=foo, name='test_reference_artifact')
bar.manifest.entries.values()

dict_values([<ManifestEntry ref: file:///home/victor/data/wandb_artifacts/8495504467643780494/8495504467643780494>])

In [ ]:
test_eq(bar.metadata['ref']['type'], str(type(foo)))

# Keras add plot_top_losses functionality

In [ ]:
#export
from timecluster_hub.visualization import *

In [ ]:
#export
@patch
def plot_top_losses(self:tf.keras.Sequential, validation_data, k, largest=True, return_fig=True, title_pos=0.99, **kwargs):
    "Take the validation data of model self, compute the model losses for every item there, sort, and plot the results.\
    If `largest` is True, the validation losses will be sorted from larger to lower. Once they are sorted, take the\
    k first items based on this order and plot the predictions.\
    If 'return_fig' is true, a Figure-set of plots is returned. If not, just showed on screen"
    # Get a prediction with the validation_data
    pred_validation_data = self.predict(validation_data)
    # Calculate the MSE with respect to original_data
    mse_values = np.mean(np.square(validation_data - pred_validation_data), axis=(1,2))
    
    # Order the numpy array and take the top k.
    if largest:
        id_loss_values = mse_values.argsort()[-k:]
        txt_var = "Largest MSE of the model for validation dataset"
    else:
        id_loss_values = mse_values.argsort()[:k]
        txt_var = "Smallest MSE of the model for validation dataset"
        
    # Plot figures
    list_figs = [None] * k
    for i in range(k):
        title = txt_var + " windoes_num: " + str(id_loss_values[i])
        list_figs[i] = plot_validation_ts_ae(validation_data, 
                                             pred_validation_data,
                                             title_str = title, 
                                             title_pos = title_pos,
                                             window_num = id_loss_values[i],
                                             return_fig = True,
                                             **kwargs)
    
    # Returns
    if return_fig:
        return list_figs
    else:
        list_figs 
        return None

## Export -

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script()
beep(1)

Converted 01_dataset_artifact.ipynb.
Converted 02_DCAE.ipynb.
Converted 03_dimensionality_reduction.ipynb.
Converted 04_baseline_models.ipynb.
Converted index.ipynb.
Converted load.ipynb.
Converted utils.ipynb.
Converted visualization.ipynb.